@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* 
Thin 100
Thin 100 italic
Extra-light 200
Extra-light 200 italic
Light 300
Light 300 italic
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
Extra-bold 800
Extra-bold 800 italic
Black 900
Black 900 italic
*/

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
samp,
input,
textarea,
label {
  font-family: "Montserrat", sans-serif;
}
div,
p,
form,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
form,
img,
br,
input,
textarea,
label,
samp,
figure,
dl,
dd {
  padding: 0;
  margin: 0;
}

a,
input {
  text-decoration: none;
  outline: none;
}

img {
  border: 0;
  outline: none;
}

ul {
  list-style-type: none;
}

*:focus {
  outline: none;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* input::-webkit-input-placeholder {color: red;} 
input:-moz-placeholder {color: red;} 
input::-moz-placeholder {color: red;} 
input:-ms-input-placeholder {color: red;}
textarea::-webkit-input-placeholder {color: green;} 
textarea:-moz-placeholder {color: green;} 
textarea::-moz-placeholder {color: green;} 
textarea:-ms-input-placeholder {color: green;}
input[type="email"]::-webkit-input-placeholder {color: blue;} 
input[type="email"]:-moz-placeholder {color: blue;} 
input[type="email"]::-moz-placeholder {color: blue;} 
input[type="email"]:-ms-input-placeholder {color: blue;} */

input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea {
  background: transparent;
  padding: 0px 0 0px 0;
  border: 0;
  width: 100%;
}

.clear {
  clear: both;
  line-height: 0 !important;
  font-size: 0 !important;
  height: 0px !important;
}
.disabled-date {
  background-color: red;
  border-radius: 5px;
  cursor: not-allowed;
}
.available {
  background-color: green;
  border-radius: 5px;
}
.booked {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-top: 5px;
}
.booked + p {
  font-size: 12px;
  margin-top: 5px;
}
.form-control {
  width: 100%;
  padding: 1rem 0px;
  font-weight: 700;
  text-align: center;
  border-radius: 0.5rem;
  opacity: 1;
  font-size: 19px;
  cursor: pointer;
  border: solid 1px #e3e6ea;
  text-align: center !important;
}
